<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>User Data</title>
  </head>

  <body>
    <div class="container">
      <div class="my-4">
        <a href="{% url 'pdf' %}" class="btn btn-dark">Export in pdf</a>

        <a href="{% url "excel" %}" class="btn btn-success">Export in excel</a>
      </div>
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <td style="font-weight: bold; font-size: 14px">Name</td>
            <td style="font-weight: bold; font-size: 14px">Email</td>
            <td style="font-weight: bold; font-size: 14px">Age</td>
          </tr>
        </thead>
        <tbody>
          {% for item in users %}
          <tr>
            <td style="font-size: 14px">{{ item.name }}</td>
            <td style="font-size: 14px">{{ item.email }}</td>
            <td style="font-size: 14px">{{ item.age }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ users.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current-page">{{ users.number }} of {{ users.paginator.num_pages }}</span>
    
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">next</a>
                <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
  </body>
</html>
